  *,
  *::before,
  *::after{
      box-sizing: border-box;
      font-family: 'system-ui', sans-serif;
      margin: 0;
      padding: 0;
      outline: 0;
  }

  .container{
      position: relative;
      height: 100vh;
      width: 100%;
      padding: 0 8%;
      background:linear-gradient(rgba(0,0,0, .4), transparent) ,url('./image.jpeg') center center no-repeat ;
      background-size: cover;
  }

    nav{
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      padding: 5px 0;
    } 

    nav .logo{
      width: 120px;
      cursor: pointer;
      font-size: 2.5rem;
      font-style: oblique;
      font-weight: bold;
      text-decoration: none;
      columns: #94f7e6;
    }
    nav ul{
      
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
      padding-right: 40px;
      list-style: none;
    }

    nav ul li{
     
      margin-right: 10px;
    }
    nav ul li a{
      padding: 10px 20px;
      text-decoration: none;
      color: #94f7e6;
      font-size: 16px;
    }


    nav{
      padding: 10px;
      text-decoration: none;
      color: #94f7e6;
      font-size: 16px;
    }
    
    button.btn{
      padding: 10px 20px;
      font-size: 1.2rem;
      font-weight: bold;
      font-style:italic ;
      margin-top: 0;
      background-color: transparent;
      border-radius: 50px;
      color: #94f7e6;
      border: 1px solid transparent;
      transition: border-color .3s;
      /*box-shadow:inset 1px 1px 2px rgb(19 210 177/55%), inset -1px 1px 2px rgb(19 210 177/55%), inset -1px -1px 2px rgb(19 210 177/55%); ;*/

      }
      
      button.btn:hover{
          border-color: #94f7e6;
          box-shadow:  inset 1px 1px 2px rgb(19 210 177/55%), inset -1px 1px 2px rgb(19 210 177/55%), inset -1px -1px 2px rgb(19 210 177/55%);
      }
      
      section{
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 50px 0;

      }
      
      .form-wrapper{
        display: flex;
        justify-content: center;
        align-items: center;
        flex: auto;
      }
      
      .form-wrapper .card{
        width: 360px;
        padding: 20px;
        background-color: rgba(0 0 0/35%);
        visibility: hidden;
        opacity: 0;
        transition: opacity 0.3s, visibility 0.3s;
      }
      
      .card.show{
        visibility: visible;
        opacity: 1;
      }
      
      .card-header{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin:30px 20px 0; ;
        color: #94f7e6;
        font-size: 1.1rem;
        box-shadow: 2px 3px 8px #d3f7ff71;
        border-radius: 50px;
      }
      
      .for-header .card-header{
        flex: 50%;
        text-align: center;
        padding: 10px 0;
        border: 1 solid transparent;
        border-radius: 50px;
        user-select: none;
        cursor: pointer;
      }
    
      .card-header .form-header{
        flex: 50%;
        text-align: center;
        padding: 10px 0;
        border: 1px solid transparent;
        border-radius: 50px;
        user-select: none;
        cursor: pointer;
      }
    
      .card-header .form-header.active{
        box-shadow: inset 1px 1px 2px rgb(19 210 177/55%), inset -1px 1px 2px rgb(19 210 177/55%), inset -1px -1px 2px rgb(19 210 177/55%);
        border-color: #94f7e6;
        transition: .3s, box-shadow .3s;
       
      }

      .card-body{
        display: flex;
        flex-wrap: nowrap;
        padding: 40px 0;
        text-align: center;
      }
      
      form{
        flex: 0 0 100%;

      }
      .toggleForm{
        visibility: hidden;
        opacity: 0;
        transition: opacity .3s, visibility .3s;
      }
      
      .form-control{
        width: 100%;
        border: none;
        border-bottom: 1px solid rgb(134 255 249/65%);
        background: none;
        outline: none;
        margin: 10px 5px;
        margin-bottom: 20px;
        color: #fff;
      }
      .form-control::placeholder{
        color: rgb(134 255 249/65%);
      }
      .formButton{
        border: 1px solid transparent;
        padding: 1rem 3rem;
        border-radius: 50px;
        background-color: #94f7e6;
        margin-top: 1rem;
        font-size: 1rem;
        transition: transform .3s, box-shadow .3s;
      }
      .formButton:hover{
        box-shadow: 3px 5px 15px #94f7e6;
        transform: translateY(-5px);
      }




